</head>
<body>
  <nav>

    <div id="nav-bar-left-items">
      <a href="/" id="nav-bar-title">
        <img id="chefhat-icon" src="https://i.imgur.com/jb1VVx5.png" alt="chefhat">
        <span>COOKiT</span>
      </a>
    </div>

    
  <% if (user) { %>

    <div class="dropdown" tabindex="1">
      <i class="db2" tabindex="1"></i>
      <a class="dropbtn"><i class="fa-solid fa-plus"></i></a>
        <div class="dropdown-items">
          <a href="/ingredients/new">ADD INGREDIENTS</a>

          <a href="/recipes/new">ADD NEW RECIPE</a>
        </div>
    </div>

    <div class="dropdown" tabindex="1">
      <i class="db2" tabindex="1"></i>
      <a class="dropbtn"><i class="fa-solid fa-bars"></i></a>
        <div class="dropdown-items">
          <a href="/recipes/apps">APPETIZERS</a>
    
          <a href="/recipes/entrees">ENTREES</a>
    
          <a href="/recipes/desserts">DESSERTS</a>
    
          <a href="/recipes">ALL RECIPES</a>
          
          <a href="/recipes/your-recipes">YOUR RECIPES</a>

          <a id="logout-btn" href="/auth/logout">
            <button  type="submit">Logout</button>
          </a>
        </div>
    </div>

  <% } else { %>

    <div class="dropdown" tabindex="1">
      <i class="db2" tabindex="1"></i>
      <a class="dropbtn"><i class="fa-solid fa-bars"></i></a> 
        <div class="dropdown-items">
          <a href="/recipes/apps">APPETIZERS</a>
    
          <a href="/recipes/entrees">ENTREES</a>
    
          <a href="/recipes/desserts">DESSERTS</a>
    
          <a href="/recipes">ALL RECIPES</a>

          <a href="/auth/google" class="siwg-link">
            <button type="submit" class="siwg">
              <img id="siwg-image" alt="Sign in with Google" />
            </button>
          </a>

        </div>
    </div>


  <% } %>
  </nav>
