  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <img src="/public/images/chefhat.png" alt="chefhat">
    <a href="/">HOME</a>
    <a href="/recipes/apps">APPETIZERS</a>
    <a href="/recipes/entrees">ENTREES</a>
    <a href="/recipes/desserts">DESSERTS</a>
    <a href="/recipes">ALL RECIPES</a>
    <% if (user) { %>
      <a href="/ingredients/new">ADD INGREDIENTS</a>

      <a href="/recipes/new">ADD NEW RECIPE</a>

      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
