<%- include('./partials/html-head') %>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
<link rel="stylesheet" href="/stylesheets/home.css">
<%#- include('./partials/nav') %>

</head>
<body>

  <nav>
    <img id="chefhat-icon" src="https://i.imgur.com/jb1VVx5.png" alt="chefhat" >
  </nav>

<main>
  <h1 id="cookit-title">COOKiT</h1>
  <p>
    Home of the best recipes from the best Home-Chefs. <br>
    You can sign in at any time to add your own recipes. <br>
    To Enter: please select your destination below!
  </p>

  <div>

    <a class="recipe-links" id="app-link" href="/recipes/apps">APPETIZERS</a>
    <a class="recipe-links" id="entree-link" href="/recipes/entrees">ENTREES</a>
    <a class="recipe-links" id="dessert-link" href="/recipes/desserts">DESSERTS</a>
    <a class="recipe-links" id="all-link" href="/recipes">ALL RECIPES</a>
  
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link recipe">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>

  </div>
</main>

<%- include('./partials/footer') %>
