<%- include('./partials/html-head') %>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
<link rel="stylesheet" href="/stylesheets/home.css">

</head>
<body>

  <nav>
    <img id="chefhat-icon" src="https://i.imgur.com/jb1VVx5.png" alt="chefhat" >
  </nav>

<main>
  <h1 id="cookit-title">COOKiT</h1>
  <p id="slogan-home">
    Home of the best recipes from the best Home-Chefs. <br>
  </p>

  <p id="wm-home">
    <% if(user) { %>
      Welcome Chef, <span id="user-name"><%= user.profile.name%></span>! <br>
      Make sure to add your ingredients before creating your recipe! <br>
    <% } else { %>
      You can sign in with Google to add your own recipes. <br>
    <% } %> 
    To Enter: please select your destination below!
  </p>

  <div>


  
    <% if (user) { %>
      <a class="recipe-links" id="app-link" href="/recipes/apps">APPETIZERS</a>
      <a class="recipe-links" id="entree-link" href="/recipes/entrees">ENTREES</a>
      <a class="recipe-links" id="dessert-link" href="/recipes/desserts">DESSERTS</a>
      <a class="recipe-links" id="all-link" href="/recipes">ALL RECIPES</a>
      <a class="recipe-links" id="your-link" href="/recipes/your-recipes">YOUR RECIPES</a>
      
      <a href="/auth/logout">
        <button id="logout-btn" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a class="recipe-links" id="app-link" href="/recipes/apps">APPETIZERS</a>
      <a class="recipe-links" id="entree-link" href="/recipes/entrees">ENTREES</a>
      <a class="recipe-links" id="dessert-link" href="/recipes/desserts">DESSERTS</a>
      <a class="recipe-links" id="all-link" href="/recipes">ALL RECIPES</a>

      <a href="/auth/google" class="siwg-link recipe">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>

  </div>
</main>

<%- include('./partials/footer') %>
