/* Colors
465C9B liberty blue
6279B8 glaucous blue
F9EBE0 linen light tan
D4D9D8 gainsboro light gray
4D5655 davys grey dark gray
1D2020 eerie black lighter black
*/
/* Fonts
font-family: 'Merriweather', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Smooch Sans', sans-serif;
*/

@media only screen and (max-width: 768px) {

  body {
    background-color: #465C9B;
  }
  h1#cookit-title {
    font-size: 5.6rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: bolder ;
    font-style: italic;
    color: #D4D9D8;
    text-shadow: 4px 2px 0 #465C9B, 12px 7px 0 #1D2020;

  }
  
  img#chefhat-icon {
    border: 0.1rem solid lightgray;
    border-radius: 50%;
  }
  
  p {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  
    text-align: center;

  }
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



}