/* Colors
49516F nav bar color
465C9B liberty blue - body color
6279B8 glaucous blue hover text color
F9EBE0 linen light tan
D4D9D8 gainsboro light gray - title color
4D5655 davys grey dark gray - background text color   background-color: rgba(78, 86, 86, 0.6);
1D2020 eerie black lighter black - text shadow
EAECEC cultured lighter gray - other font color
65CDC4 visited link color
E01541 delete btn
*/
/* Fonts
font-family: 'Merriweather', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Smooch Sans', sans-serif;
*/

body {
  background-color: #465C9B;
}

body > nav {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
}

h1#cookit-title {
  font-size: 10.0rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: bolder ;
  font-style: italic;
  color: #D4D9D8;
  text-shadow: 4px 2px 0 #465C9B, 12px 7px 0 #1D2020;
  margin: 40px auto;
  margin-bottom: 10px;

}

img#chefhat-icon {
  border: 0.2rem solid #EAECEC;
  border-radius: 50%;
  height: 6.0rem;
  width: 6.0rem;
}

p {
  text-align: center;
  border: 3px solid #EAECEC;
  border-radius: 2px;
  padding: 10px;
  color: #EAECEC;
  background-color: rgba(78, 86, 86, 0.6);
  font-size: 2.2rem;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  font-style: italic;
  margin: 0 auto;
  margin-bottom: 40px;
}

p#slogan-home {
  border: none;
  background: none;
  padding: 0;
  /* margin: 0 auto; */
  font-size: 2.0rem;
}

span#user-name {
  color: #11B5E4;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 86, 86, 0.6);
  border: 3px solid #EAECEC;
  border-radius: 2px;
  padding: 0;
  margin: 0 auto;
}

a.recipe-links {
  width: 25.0rem;
  height: 8.0rem;
  font-size: 2.7rem;
  font-family: 'Merriweather', sans-serif;
  text-decoration: none;
  color: #EAECEC;
  border-bottom: 2px solid #EAECEC;
  text-align: center;
  padding: 22.5px;
  margin: 0 10px;
}

a.recipe-links:hover {
  color: #1D2020;
}

a.siwg-link {
  text-align: center;
  padding: 0;
  margin: 22.5px auto;
}

.siwg {
  width: 191px;
  height: 46px;
}

#logout-btn{
  margin: 12.5px auto;
  font-size: 2.2rem;
  font-family: 'Merriweather', sans-serif;

}

@media only screen and (max-width: 768px) {

  h1#cookit-title {
    font-size: 6.0rem;
    margin: 20px auto;
    margin-bottom: 5px;

  }
  
  img#chefhat-icon {
    height: 5.0rem;
    width: 5.0rem;
  }
  
  p {
    border: 2px solid #EAECEC;
    font-size: 1.4rem;
    margin: 0 10px;
    margin-bottom: 30px;
  }

  p#slogan-home {
    border: none;
    background: none;
    padding: 0;
    /* margin: 0 auto; */
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  
  span#user-name {
    color: #11B5E4;
  }
  
  div {
    border: 2px solid #EAECEC;
  }

  a.recipe-links {
    width: 22.0rem;
    height: 6.0rem;
    font-size: 2.5rem;
    padding: 12.5px;
  }

  a.siwg-link {
    margin: 12.5px auto;
  }

  #logout-btn{
    font-size: 2.0rem;
  }
  

}
