html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

/* Colors
49516F nav bar color
465C9B liberty blue - body color
6279B8 glaucous blue
F9EBE0 linen light tan
D4D9D8 gainsboro light gray - title color
4D5655 davys grey dark gray - background text color   background-color: rgba(78, 86, 86, 0.6);
1D2020 eerie black lighter black - text shadow
EAECEC cultured lighter gray - other font color
*/
/* Fonts
font-family: 'Merriweather', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Smooch Sans', sans-serif;
*/

body {
  background-color: #465C9B;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  min-height: 100vh;

}

nav {
  background-color: #49516F;
  /* font-size: 1.6rem; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7.0rem;
  gap: 10px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  /* overflow: hidden; */
}

div#nav-bar-left-items {
  margin-right: auto;
  /* display: flex;
  align-self: flex-end; */
}

a#nav-bar-title {
  /* visibility: hidden; */
  /* margin-right: auto; */
  /* align-self: flex-end; */
  font-size: 3.4rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: bolder ;
  font-style: italic;
  color: #D4D9D8;
  text-decoration: none;
  /* border-bottom: 2px solid white; */
  display: flex;
  /* align-items: baseline; */
}

a#nav-bar-title > span {
  align-self: flex-end;
  margin-left: 2px;
}

a#nav-bar-title:focus {
  /* color: #1D2020; */
  /* text-decoration: underline; */
  text-shadow: 2px 1px 0 #49516F, 7px 4px 0 #1D2020;
}

img#chefhat-icon {
  border: 0.2rem solid #EAECEC;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  /* margin-right: auto; */
  margin: 5px 0 5px 5px;
  /* align-self: center; */
  /* justify-self: center; */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown {
  display: inline-block;
  position: relative;
  outline: none;
  margin: 5px;
}

.dropbtn {
  padding: 10px 14px;
  color: #EAECEC;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.0rem;
}

.dropdown .dropdown-items {
  position: absolute;
  top: 50%;
  right: 0%;
  background-color: #EAECEC;
  width: 15rem;
  min-width: 120%;
  box-shadow: -5px 5px 13px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;

}

.dropdown-items a {
  color: black;
  padding: 8px 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}

.dropdown-items a:hover {
  background-color: #4D5655;
  color: #EAECEC;
  transition: 0.3s ease-out;
}

.dropdown:focus .dropdown-items {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-out;
}

.dropbtn:hover, .dropdown:focus .dropbtn {
  background-color: #D4D9D8;
  color: #49516F;
  border-radius: 2px;
  transition: 0.3s ease-out;
}

.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.dropdown:focus .db2 {
  display: inline-block;
  transition: 0.3s ease-out;
}
.dropdown .db2:focus .dropdown-items {
  outline: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
}

.siwg {
  width: 101px;
  height: 46px;
  border-radius: 6px;
  /* transform: scale(0.9, 0.9); */
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#logout-btn{
  text-align: center;
}


@media only screen and (min-width: 768px) {

  .dropbtn {
    font-size: 2.5rem;
  }

  .dropdown-items a {
    font-size: 1.8rem;
  }

  .dropdown .dropdown-items {
    width: 20rem;
  }

  a#nav-bar-title:hover {
    text-shadow: 2px 1px 0 #49516F, 7px 4px 0 #1D2020;
  }

}