<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h2><%= title %></h2>
    <form action="/recipes" method="post">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Type: 
        <select name="type">
          <option value="Appetizer">Appetizer</option>
          <option value="Entree">Entree</option>
          <option value="Dessert">Dessert</option>
        </select>
      </label>
      <label>
        Link: 
        <input type="text" name="link">
      </label>
      <button type="submit">DONE</button>
      <button type="submit" formaction="/recipes/newcont">Add Ingredients and Instructions</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>
