<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1><%= title %></h1>
    <form action="/recipes" method="post">
      <div id="add-new-rec-cont">
        <label class="add-new-rec-labels">
          Name: <br>
          <input type="text" name="name" autocomplete="off">
        </label>
        <label class="add-new-rec-labels">
          Type: <br>
          <select name="type">
            <option value="Appetizer">Appetizer</option>
            <option value="Entree">Entree</option>
            <option value="Dessert">Dessert</option>
          </select>
        </label>
        <label class="add-new-rec-labels">
          Link: <br>
          <input type="text" name="link">
        </label>
      </div>
      <button class="new-rec-btns" type="submit" formaction="/recipes/newcont">Add Ingredients/Instructions</button><br>
      <button class="new-rec-btns" type="submit">DONE</button> 
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>
