/* Colors
49516F nav bar color
465C9B liberty blue - body color
6279B8 glaucous blue hover text color
F9EBE0 linen light tan
D4D9D8 gainsboro light gray - title color
4D5655 davys grey dark gray - background text color   background-color: rgba(78, 86, 86, 0.6);
1D2020 eerie black lighter black - text shadow
EAECEC cultured lighter gray - other font color
65CDC4 visited link color
E01541 delete btn
*/
/* Fonts
font-family: 'Merriweather', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Smooch Sans', sans-serif;
*/

body {
  background-image: url(/images/foodbgvert.jpeg);
  background-size: cover;
  background-position: center;
}

main {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #EAECEC;
}

h1 {
  font-size: 4.7rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: bolder ;
  font-style: italic;
  color: #D4D9D8;
  text-shadow: 5px 4px 0 #1D2020;
  margin: 40px auto;
  border: 2px solid #EAECEC;
  border-radius: 5px;
  background-color: rgba(78, 86, 86, 0.8);
  padding: 0px 5px;
  margin-bottom: 20px;
}

#add-new-rec-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgba(78, 86, 86, 0.8);
  border: 2px solid #EAECEC;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.add-new-rec-labels {
  font-size: 2.0rem;
}

.add-new-rec-labels > input {
  font-size: 1.6rem;
}

.new-rec-btns {
  font-size: 1.6rem;
  margin: 10px;
  background-color: #3E8914;
  border: 2px solid #EAECEC;
  border-radius: 4px;
  color: #EAECEC;

}

.new-rec-btns:focus {
  color: #1D2020;
  border: 2px solid #1D2020;

}

@media only screen and (min-width: 768px) {

  body {
    background-image: url(/images/foodbg.jpeg);
    background-size: cover;
  }

  h1 {
    font-size: 6.0rem;
    padding: 0 10px;
  }

  #add-new-rec-cont {
    row-gap: 30px;
    padding: 15px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .add-new-rec-labels {
    font-size: 2.2rem;
  }
  
  .add-new-rec-labels > input {
    font-size: 1.8rem;
  }
  
  .new-rec-btns {
    font-size: 1.8rem;
  }
  
}